h1, h2, h3, h4, h5, p{font-family:"europa";}
@media (max-width:768px){h1{font-size:4.9vw;}
h2{font-size:3.0vh;}
h3{font-size:2.0vh;}
h4{font-size:1.8vh;}
h5{font-size:1vh;}
p{font-size:2vmin;}
.panel-title{font-size:1.7vh;}
.panel-title>a:hover{font-size:1.8vh;}
}
body{background-image:url("FoodStuff2017/background.png")}
.panel-group .panel{background-color:transparent;}
.container .headerContent h1, h2, h3, h4, h5, p{text-align:center;}
.map{text-align:center;}
.overview-list{margin-top:20px;padding:0;list-style:none;}
div{image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast;image-rendering:crisp-edges;-ms-interpolation-mode:nearest-neighbor;}
.chat-box{}
.panel-title>a:hover{text-decoration:none;cursor:pointer;}
.panel{box-shadow:none;-webkit-box-shadow:none;border:none;}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{border-top:none;}
.panel-heading{padding:0px;}
.map-responsive{overflow:hidden;padding-bottom:56.25%;position:relative;height:0;}
.map-responsive iframe{height:700px;width:80%;}
.slick-prev:before, .slick-next:before{color:black;}
.slick-prev, .slick-next{transform:scale(1.5);}
div .carousel-box{background-color:rgba(255, 255, 255, .5);border:2px #3498db solid;margin:0px 5px;}
.to-da-floor{bottom:0;z-index:9999}
.slick-prev:before{margin-left:-40px}
.slick-next:before{margin:20px;}
.schedule-nav{display:flex;justify-content:center;}
.schedule-nav-button{color:#337ab7;cursor:pointer;font-family:"rift-soft";font-style:italic;font-size:20px;}
.schedule-nav span{margin:0px 15px;}
.NavBar{display:flex;justify-content:space-around;}
.NavBar > h4 > a{font-family:"rift-soft";font-style:italic;font-size:20px;}
