h1, h2, h3, h4, h5, p {
  font-family: "europa";
}

body {
  background-image:url("FoodStuff2017/background.png")
}

.panel-group .panel{
  background-color: transparent;
}
.container .headerContent h1, h2, h3, h4, h5, p{
  text-align:center;
}

.map {
  text-align:center;
}

.overview-list {
  margin-top:20px;
  padding: 0;
  list-style:none;

}


.panel {
  box-shadow:none;
  -webkit-box-shadow:none;
  border:none;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border-top: none;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
